body.november
    background-color: #E1E3E4
    height: 100%
    width: 100%
    top: 0
    left: 0
.photoDiv
	position: relative
	display: inline-block
	top: 100px
	left: 100px
	margin-right: 20px
	margin-right: 20px
	margin-bottom: 20px;
	background-color: red
    border-style: solid
	border-color: white
	border-width: 10px
	width: 100px
	height: 100px