
// Supplies mixins and variables that other .scss files can call

@mixin bmp0
    border: 0px
    margin: 0px
    padding: 0px

@mixin hoverShadow($bgColor)
	background-color: $bgColor
    margin-top: -2px
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 1)