---
---
<!DOCTYPE html>
<html lang="en">

<head>
 {% include default.html %}
</head>

<body class="ContentIndex" id="ProjectIndex">
    <div class="ContentWrapper">
        <div class="ContentContainer">
            <h1>Projects</h1>
            <h2>Some involve code, some don't</h2>
            <hr>
            <div class="ContentBody">
              <ul>
                <li>
                  <div class="ContentEntry">
                      <a href="" class="link highlight-link content-heading">Farm Bed</a>
                      <p class="content-description">I built a farmhouse-style bed. Working on posting a link.</p>
                  </div>
                  <div class="ContentEntry">
                    <a href="https://www.linkmelater.win" class="link highlight-link content-heading">LinkMeLater</a>
                    <p class="content-description">A chrome extension that saves open tabs and sends a randomized daily email digest of those links.</p>
                  </div>
                  <div class="ContentEntry">
                      <a href="https://github.com/dgolant/textcycle" class="link highlight-link content-heading">TextCycle</a>
                      <p class="content-description">An SMS interface for the Indianapolis Bikeshare program. Defunct but workable.</p>
                  </div>
                  <div class="ContentEntry">
                      <a href="/projects/noshavenovember.html" class="link highlight-link content-heading">My NoShaveNovember 2016</a>
                      <p class="content-description">I participated in Salesforce's NoShaveNovember mustache challenge in 2016. I didn't grow much facial hair, but I did win "most creative" for my 30-day photo series which I used to familiarize myself with my camera. I used a filename-based sort which seems to have fallen out of sync, maybe one day I will get them back in order.</p>
                  </div>
                  <div class="ContentEntry">
                      <a href="" class="link highlight-link content-heading">More...?</a>
                      <p class="content-description"> I am under no illusions about keeping this section up-to-date, but feel free to check out my <a href="https://github.com/dgolant" class="link highlight-link">github</a> to see what I am up to.</p>
                  </div>
                </li>
              </ul>
            </div>
            <br />
            <br />
        </div>
        <!-- end MainContent -->
    </div>
    <!-- end Wrapper -->
    <script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/scripts/main.js"></script>
</body>

</html>
