<!DOCTYPE html>
<html lang="en">
    <head>
        {% include default.html %}
        <script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/scripts/noshavenovember.js"></script>
    </head>
    <body class="november loading">
        <div class="header">
            <a href="index.html" class="backButton">
                < Back</a>
                    <div class="novemberTitle">No Shave November</div>
        </div class="header">
        <div class="container">
            <div class="sidebar">
                <div class="blurb">
                    <h1>Hey!</h1>
                    <p>Welcome to my No Shave November Page!</p>
                    <p> In 2016 I decided to try and participate in Salesforce's No Shave November fundraiser. </p>
                    <p> To give myself some reinforcement, I decided to post all my progress publicly on my site, daily.</p>
                    <p> Now, this is a permanent document of me looking goofy for a cause. </p>
                </div>
            </div>
            <div class="gallery"></div>
        </div>
    </body>
</html>
