<!DOCTYPE html>
<html lang="en">

<head>
    {% include default.html %}
</head>

<body class="ContentIndex">
    <div class="ContentWrapper">
        <div class="ContentContainer">
            <h1>Writing</h1>
            <h2>Another futile attempt to consolidate my writing in one place</h2>
            <hr>
            <br />
            <br />
        </div>
        <!-- end MainContent -->
    </div>
    <!-- end Wrapper -->
    <script type="text/javascript" src="_scripts/main.js"></script>
</body>

</html>
