<!DOCTYPE html>
<html lang="en">

<head>
    {% include default.html %}
</head>

<body class="index">
    <div id="Wrapper">
        <div id="MainContent">
            {{ content }}
            <a href="http://www.twitter.com/dangolant">
                <i class="fa fa-twitter" aria-hidden="true" a href="www.twitter.com/dangolant"></i>
            </a>
            <a href="https://www.linkedin.com/in/daniel-golant-a9b45789">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="http://www.github.com/blackbetty">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <br />
            <br />
        </div>
        <!-- end MainContent -->
    </div>
    <script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/scripts/main.js"></script>
</body>
</html>
